<div class="container">
  <div class="row col-md-8 col-md-offset-2">
    <h1>Ember Data Custom Adapter Example</h1>
  </div>
  <div class="row col-md-8 col-md-offset-2">
    {{outlet}}
  </row>
</div>
